.tabs {
    display: flex;
    justify-content: center; /* Center horizontally */
  }
  
  .tabs button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .tabs button.active {
    border-bottom: 2px solid blue; /* Change color to match your design */
  }
  
  .tab-content {
    margin-top: 20px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh; /* This ensures the container takes up the full height of the viewport */
  }